@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Monsieur+La+Doulaise&display=swap');

section {
    min-height: 100vh;
    background-image: url("../../assets/images/BACKGROUND.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.special {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    color: #FFFEFA;
}

h1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: #FFFEFA;
}

.form-container {
    color: #132FBA;
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: 500;
    padding: 1rem;
}

.form-container h2 {
    font-weight: bold;
}

small {
    color: red;
    font-weight: 400;
    font-size: 0.8rem;
}

a {
    color: #f7941d;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #132FBA;
    color: white;
    font-weight: bold;
    font-size: large;
}

.btn:hover {
    background-color: #132FBA;
}

.btn:active {
    background-color: rgba(0, 0, 0, 0);
    color: #262262;
}

.bottom {
    font-weight: 300 !important;
}